APPSIGNAL_APP_ENV=prod
APPSIGNAL_PUSH_API_KEY=
<%= if ecto do %>DATABASE_URL=postgresql://postgres:postgres@localhost:5432/<%= app_name %>_prod
<% end %>PHX_HOST=app.<%= app_name %>.com
<%= if ecto do %>POOL_SIZE=10
<% end %>PORT=4000
SECRET_KEY_BASE=
