/_build/
/.elixir_ls/
/.git/
/config/
/cover/
/deps/
/doc/
/lib/
/priv/
<%= if phoenix do %>/rel/
/screenshots/
<% end %>/test/
.credo.exs
.dialyzer_ignore.exs
<%= if phoenix do %>.dockerignore
.env
.env.prod.sample
.env.sample
<% end %>.formatter.exs
.gitattributes
.gitignore
.iex.exs
.erl_crash.dump
